#imagenSplash{
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

#titulo{
  color: white;
}

 #splash{
  background-color:  rgba(65, 64, 64, 0.637);
  margin-top: 100px;
  border-radius: 90px;
} 