#imagenSplash{
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#titulo{
  padding-top: 30px;
  color: rgb(243, 11, 11); 
}

 #splash{
  background-color: rgba(245, 245, 220, 0.534);
  height: 15vh;
  margin-top: 100px;
  border-radius: 90px;
} 