
 #imagenFondo{
  background-image: url(img/comida.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-position-y: 100%;
  height: 100vh;  
}  


#titulo{
  padding-top: 20px;
  color: white;
}

#subtitulo{
  padding-top: 20px;
  color: white;
}

#busqueda{
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

#boton{
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 5px;
  width: 90px;
  background-color: rgb(204, 87, 87);
  color: white;
  font-weight: bold;
}


.restaurant {
  font-weight: bold;
  padding-bottom: 10px;
  background-color: rgba(255, 228, 196, 0.787);
  margin: 90px;
  padding-top: 10px;
  border-radius: 30px;
  
}

.container{
  background-color:rgba(65, 64, 64, 0.637);
  border-radius: 30px;  
    
}